{% block navigation %}

<nav class="navbar">
    <a class="navbar-brand" href="{{ path('app_home') }}">Accueil</a>
    <a class="navbar-brand" href="{{ path('app_home') }}">Carte</a>
    <a class="navbar-brand" href="{{ path('app_home') }}">Menus</a>
    <a class="navbar-brand" href="{{ path('app_reservation') }}">Réservation</a>
    <a class="navbar-brand" href="{{ path('app_home') }}">Contact</a>

</nav>

{% endblock %}